:root {
    --sorciere: rgb(71, 0, 83);
    --villageois: rgb(255, 195, 111);
    --ange: rgb(253, 253, 22);
    --demon: rgb(207, 1, 1);
    --loups-garous: rgb(15, 0, 116);

    --shadow-sorciere: rgb(42, 0, 49);
    --shadow-villageois: rgb(136, 104, 60);
    --shadow-ange: rgb(186, 186, 18);
    --shadow-demon: rgb(157, 1, 1);
    --shadow-loups-garous: rgb(11, 0, 80);

    --opa-sorciere: rgba(42, 0, 49, 0.75);
    --opa-villageois: rgba(93, 71, 41, 0.75);
    --opa-ange: rgba(115, 115, 11, 0.75);
    --opa-demon: rgba(103, 2, 2, 0.75);
    --opa-loups-garous: rgba(10, 1, 67, 0.75);

    --bg: #d3d4d9;
    --dark-blue: #221B3D;
}

/* image background*/
.bg-image {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {  
    background-image: url("../img/sunset.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.margin-index {
    margin-top: 25%;
}

.title-index {
    font-family: sirenia,sans-serif;    
    font-size: 70px;
    color: white;
}

.playbtn {
    font-family: sirenia,sans-serif;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 155, 0);
    font-size: 30px;
    width: 400px;
    height: 60px;
}

.playbtn:hover {
    background-color: rgb(0, 140, 0);
    transform: translateY(-3px);
    transition: transform 0.8s ease;
}

/**/
.margin-top{
    margin-top: 20px;
} 

.margin{
    margin: 10px;
} 

.pad {
    padding: 10px;
    font-size: 35px;
}

.border-box {
    border: solid 10px black;
}

.box-h {
    height: 400px;
    border-radius: 5px;
}

.marginb {
    margin-bottom: 100px;
}

/* oppacité*/
.opacity-80 {
    opacity: 0.8;
  }

  /* carte personnage*/


.carte1 {
    background-color: var(--opa-sorciere);
}

.carte2 {
    background-color: var(--opa-villageois);
}

.carte3 {
    background-color: var(--opa-ange);
}

.carte4 {
    background-color: var(--opa-demon);
}

.carte5 {
    background-color: var(--opa-loups-garous);
}


.carte1:hover {
    background-color: var(--sorciere);
    color: black;
    border: none;
    cursor: pointer;
    transform: translateY(-3px);
    transition: transform 0.8s ease;
    box-shadow:var(--shadow-sorciere) 5px 5px 1px;
}

.carte2:hover {
    background-color: var(--villageois);
    color: black;
    border: none;
    cursor: pointer;
    transform: translateY(-3px);
    transition: transform 0.8s ease;
    box-shadow:var(--shadow-villageois) 5px 5px 1px;
}

.carte3:hover {
    background-color: var(--ange);
    color: black;
    border: none;
    cursor: pointer;
    transform: translateY(-3px);
    transition: transform 0.8s ease;
    box-shadow: var(--shadow-ange) 5px 5px 1px;
}

.carte4:hover {
    background-color: var(--demon);
    color: black;
    border: none;
    cursor: pointer;
    transform: translateY(-3px);
    transition: transform 0.8s ease;
    box-shadow: var(--shadow-demon) 5px 5px 1px;
}

.carte5:hover {
    background-color: var(--loups-garous);
    color: black;
    border: none;
    cursor: pointer;
    transform: translateY(-3px);
    transition: transform 0.8s ease;
    box-shadow: var(--shadow-loups-garous) 5px 5px 1px;
}
 /* fin carte personnage*/

 
 /* utile pour le popup*/
.d-none {
    display: none;
}

/*boutton*/
.button-play{
    font-family: sirenia,sans-serif;
    background-color: var(--bg);
    color: var(--dark-blue);
    border-color: var(--dark-blue);
    border: none;
    padding: 10px;
    font-size: 35px;
    border-radius: 5px 5px 5px 5px;
}

.button-play:hover {
    background-color: #c1c1c1;
    transform: translateY(-3px);
    transition: transform 0.8s ease;
}

.top-header {
    border-radius: 0 0 5px 5px;
}

.sec-btn:hover {
    background-color: #c1c1c1;
    transform: translateY(-1px);
    transition: transform 0.8s ease;
}

.popup {
    font-family: sirenia,sans-serif;
    background-color: var(--bg);
    color: var(--dark-blue);
    border: none;
    border-radius: 5px 5px 0 0;
    margin-top: 80px;
    font-size: 25px;
}

.mod {
    border-radius: 5px;
}


.closepopup{
    font-family: sirenia,sans-serif;
    background-color: var(--bg);
    color: var(--dark-blue);
    border: solid var(--dark-blue);
    border-radius: 0 0 5px 5px;
    font-size: 25px;
}

.closepopup:hover {
    background-color: #c1c1c1;
    transform: translateY(-1px);
    transition: transform 0.8s ease;
}

.reset{
    font-family: sirenia,sans-serif;
    background-color: var(--bg);
    color: var(--dark-blue);
    border: none;
    border-radius: 5px 5px 0 0;
    margin-top: 80px;
    font-size: 25px;
    
}

.icons {
    width: 80px;
}

.musicbutton{
    font-family: sirenia,sans-serif;
    color: #221B3D;
    background-color: #d3d4d9;
    border-radius: 5px 5px 5px 5px;
}

.musicbutton:hover {
    background-color: #c1c1c1;
    transform: translateY(-2px);
    transition: transform 0.8s ease; 
}

.audio-img {
    width: 40px;
}

/*fin boutton*/

p {
    font-family: sirenia,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

h2 {
    font-family: sirenia,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.mt-container {
    margin-top: 100px;
}

/*couleurs  des elements*/
.bg-grey{
    background-color: var(--bg);
}

.border-grey{
    border-color: var(--bg);
    border-radius: 8px;
}

.bg-purple{
    background-color: var(--dark-blue);
}

.txt-purple{
    color: var(--dark-blue);
}
/*fin couleur des elements*/

.flask-container {
    position: relative;
  }


  #flask {
    width: 100px;
    position: absolute;
    transition: all 1s ease-in-out;
  }

  #ray {
    width: 100px;
    position: absolute;
    transition: all 1s ease-in-out;
  }

  #fork {
    margin-top: 60px;
    width: 130px;
    position: absolute;
    transition: all 1s ease-in-out;
  }

  #fire {
    width: 120px;
    position: absolute;
    transition: all 1s ease-in-out;
  }

  #claw {
    width: 100px;
    position: absolute;
    transition: all 1s ease-in-out;
  }
  

  #flask2 {
    width: 100px;
    position: absolute;
    transition: all 1s ease-in-out;
  }

  #ray2 {
    width: 100px;
    position: absolute;
    transition: all 1s ease-in-out;
  }

  #fork2 {
    margin-top: 60px;
    width: 130px;
    position: absolute;
    transition: all 1s ease-in-out;
  }

  #fire2 {
    width: 120px;
    position: absolute;
    transition: all 1s ease-in-out;
  }

  #claw2 {
    width: 100px;
    position: absolute;
    transition: all 1s ease-in-out;
  }


/* The Modal (background) */
.modal_popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Header */
.modal-header_popup {
    font-family: sirenia,sans-serif;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body_popup {padding: 2px 16px;}
  
  /* Modal Content */
  .modal-content_popup {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* The Close Button */
  .close_popup {
    font-family: sirenia,sans-serif;
    color: #ffffff;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close_popup:hover,
  .close_popup:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .popup-btn {
    font-family: sirenia,sans-serif;    
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: var(--bg);
    font-size: 20px;  
  }

  .popup-btn:hover {
    background-color: #c1c1c1;
    transform: translateY(-1px);
    transition: transform 0.8s ease;
  }
  
  /* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}