:root {
    --bg-container: red;
}

.bg {
    background-color: var(--bg-container);
}

.margin-top{
    margin-top: 20px;
}  

.border-box {
    border: solid 10px black;
}

.box-h {
    height: 600px;
}